  .wrap-table {
    position: relative;
    height: 100%;
  }

  table {
    width: 90%;
    height: 100%;
    border-collapse: collapse;
  }

  table tr,
  table th,
  table td {
    height: 100%;
  }

  table tr th .table-item {
    min-height: 60px;
    text-align: center;
  }

  table tr th.table-header {
    min-width: 3em;
    text-align: center;
  }

  table tr th .table-item.table-item-no-extra {
    line-height: 60px;
  }

  table th,
  table td {
    padding: .5em;
    border: 1px solid #333;
    vertical-align: middle !important;
  }

  table .slash {
    padding: 0 !important;
    /* width: 30%; */
  }

  table .slash-inner {
    position: relative;
    width: 100%;
    height: 100%;
  }

  table .slash-char {
    position: relative;
    display: block;
    padding: .5em;
  }

  table .slash-char-row {
    padding-right: 50%;
    text-align: left;
  }

  table .slash-char-col {
    margin-top: -1em;
    padding-left: 50%;
    text-align: right;
    bottom: 0;
    position: absolute;
  }

  #svg-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
  }

  .nopadding {
    padding: 0 !important;
    margin: 0 !important;
  }